* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.just-cont-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-it-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main,
.map {
  width: 100%;
}

.container {
  width: 90%;
}

.container__perfil, .container__anuncio {
  -webkit-box-shadow: 0px 0px 12px 2px #7171719a;
          box-shadow: 0px 0px 12px 2px #7171719a;
}

.container__anuncio {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 4rem 0 4rem;
}

.container__form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

.nav {
  background-color: #01415a;
}

.nav__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__logo--img {
  width: 8rem;
  padding: 1rem 0;
}

.nav__menu > img {
  display: none;
}

.nav__menu--list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list__item {
  padding: 1rem;
}

.list__item > a {
  font-size: 1.2rem;
}

.list__item--link {
  text-decoration: none;
  color: #fff;
}

.subnav {
  background-color: #01415a;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  border-top: #02667C solid 1px;
}

.subnav > a {
  text-decoration: none;
  color: #F9F8D1;
  padding: 0.5rem 1rem;
}

.list__anuncio {
  width: 50%;
  padding: 1rem 0.5rem;
}

.list__anuncio--item, .list__anuncio--list {
  height: 6rem;
  border: #71717175 solid 1px;
  padding: 0.5rem;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  background-color: #F9F8D1;
  border-bottom: #fff solid 1px;
  color: #01415a;
}

.list__anuncio--item > a {
  text-decoration: none;
  color: #01415a;
}

.list__anuncio--item > img {
  width: 6rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 12px 2px #7171719a;
          box-shadow: 0px 0px 12px 2px #7171719a;
}

.list__anuncio--desc {
  width: 90%;
  padding-left: 1rem;
}

.list__anuncio--title {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0.5rem;
}

.map__container {
  width: 80%;
  -webkit-box-shadow: 0px 0px 12px 2px #7171719a;
          box-shadow: 0px 0px 12px 2px #7171719a;
}

.map__container > iframe {
  width: 80%;
  height: 31rem;
}

.perfil {
  width: 50%;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
}

.perfil__background {
  background-image: url("../imgs/perfil.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  width: 80%;
}

.perfil__desfoque {
  background-color: #cee0e7a4;
  height: 20rem;
  width: 100%;
  margin-bottom: -2.3rem;
}

.perfil__foto {
  height: 15rem;
  border-radius: 50%;
}

.info__container {
  width: 100%;
  height: 39rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info__anuncio > p {
  color: #01415a;
  background-color: #f7f793;
  padding: 1rem 1.5rem;
  width: 26rem;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.info__anuncio--list {
  padding: 1rem 1.5rem;
  background-color: #F9F8D1;
  border-bottom: #fff solid 1px;
  color: #01415a;
  margin-bottom: 0.2rem;
}

.info__dados {
  width: 80%;
  padding-top: 1.5rem;
}

.info__dados--desc {
  padding: 0.5rem 0;
}

.anuncio__title {
  padding-bottom: 1rem;
}

.anuncio__titlesub {
  padding: 1rem 0;
}

footer {
  background-color: #01415a;
  height: 3rem;
  width: 100%;
  z-index: 999;
  color: #F9F8D1;
}

.btn-anuncio {
  background-color: #02667C;
  color: #F9F8D1;
  width: 50%;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.btn {
  width: 100%;
}

.form {
  width: 90%;
  margin: 0 auto;
  position: relative;
  padding: 2rem 0;
}

.form__form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.form__title {
  color: #01415a;
  margin-bottom: 1rem;
}

.form__form-group {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.form__label {
  display: block;
  color: #000000;
}

.form__input {
  width: 90%;
  border-radius: 2px;
  border: 1px solid #ECDDF3;
  height: 40px;
  padding: 10px;
  font-size: 14px;
}

.form__button {
  background-color: #01415a;
  color: #ffffff;
  border: 0;
  width: 90%;
  font-weight: bold;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 21px;
  height: 40px;
}

.form__button:hover {
  background-color: #02667C;
  color: #ECDDF3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.resposta__table {
  width: 100%;
  text-align: left;
}

.resposta__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resposta__header th {
  border-bottom: 1px solid #ECDDF3;
  padding: 10px 0;
}

@media screen and (max-width: 768px) {
  body,
  header,
  .nav,
  .map,
  .map__container {
    max-width: 100%;
  }
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .just-cont-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .align-it-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .direct-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* Menu */
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container__perfil {
    width: 100%;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 4rem;
  }
  .nav__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__logo > img {
    width: 7rem;
  }
  .nav__menu {
    position: relative;
    display: inline-block;
  }
  .nav__menu > img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    display: block;
  }
  .nav__menu--list {
    display: block;
    position: absolute;
    right: 0.5rem;
    background-color: #0a5877;
    min-width: 135px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    list-style-type: none;
    border-radius: 10px;
  }
  .nav__menu:hover {
    display: block;
  }
  .list__item {
    padding: 0.3rem;
  }
  /* Submenu */
  .subnav {
    width: 100%;
    height: 3rem;
    background-color: #01415a;
  }
  .subnav__list {
    list-style-type: none;
  }
  .subnav > a {
    width: auto;
    color: #F9F8D1;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-top: #025b7e77 solid 1px;
  }
  /* Anuncio */
  .info {
    width: 100%;
    height: 30rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info__container {
    width: 90%;
  }
  .info__anuncio {
    width: 100%;
    height: 3rem;
  }
  .info__anuncio > p {
    width: 100%;
    color: #01415a;
    background-color: #f7f793;
    padding: 1rem 1.5rem;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  .info__anuncio--list {
    padding: 1rem 1.5rem;
    background-color: #F9F8D1;
    border-bottom: #fff solid 1px;
    color: #01415a;
  }
  .info__dados {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem 2rem;
    color: #01415a;
  }
  .info__container {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* Perfil */
  .perfil {
    width: 100%;
    height: auto;
    background-color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .perfil__background {
    background-image: url("../imgs/perfil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    width: 100%;
  }
  .perfil__desfoque {
    background-color: #cee0e7a4;
    height: 20rem;
    width: 100%;
  }
  .perfil__foto {
    height: 15rem;
    border-radius: 50%;
  }
  /* Anuncio */
  .btn-anuncio {
    padding: 1rem;
    color: #F9F8D1;
  }
  .container__anuncio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 4rem 0 4rem;
    width: 100%;
  }
  .div__anuncio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: rem;
    background-color: rgba(2, 102, 124, 0.479);
    width: 100%;
    padding: 1rem 0;
  }
  .anuncio__descricao {
    padding: 0;
  }
  .list__anuncio > img {
    width: 4rem;
    height: 3rem;
  }
  .list__anuncio--item {
    height: 5.5rem;
    padding: 0.5rem;
    margin-bottom: 0.2rem;
  }
  .list__anuncio--title, .list__anuncio--desc > p {
    font-size: 10px;
  }
  .map__container {
    width: 100%;
  }
  .map__container > iframe {
    width: 50%;
    height: 500px;
  }
  .subnav {
    width: 100%;
    height: 3rem;
    background-color: #01415a;
  }
  .subnav > a {
    font-size: 10px;
    padding: 1rem 0.3rem;
  }
}

/* Submenu */
@media screen and (max-width: 420px) {
  body,
  header,
  nav {
    max-width: 100%;
  }
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .just-cont-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .align-it-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .direct-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* Menu */
  .container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container__perfil {
    width: 100%;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 4rem;
  }
  .nav__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__logo > img {
    width: 7rem;
  }
  .nav__menu {
    position: relative;
    display: inline-block;
  }
  .nav__menu > img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    display: block;
  }
  .nav__menu--list {
    display: block;
    position: absolute;
    right: 0.5rem;
    background-color: #0a5877;
    min-width: 135px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    list-style-type: none;
  }
  .nav__menu:hover {
    display: block;
  }
  .list__item {
    padding: 0.3rem;
  }
  /* Submenu */
  .subnav {
    width: 100%;
    height: 3rem;
    background-color: #01415a;
  }
  .subnav > a {
    font-size: 10px;
    width: auto;
    color: #F9F8D1;
    text-decoration: none;
    border-top: #025b7e77 solid 1px;
    text-align: center;
  }
  /* Anuncio */
  .info {
    width: 100%;
    height: 30rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__anuncio {
    width: 100%;
    height: 3rem;
  }
  .info__anuncio > a {
    border: none;
    color: #F9F8D1;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-top: #025b7e77 solid 1px;
  }
  .info__anuncio--list {
    padding: 1rem 1.5rem;
    background-color: #F9F8D1;
    border-bottom: #fff solid 1px;
    color: #01415a;
  }
  .info__dados {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem 2rem;
    color: #01415a;
  }
  .info__container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* Perfil */
  .perfil {
    width: 100%;
    height: auto;
    background-color: #fff;
  }
  .perfil__background {
    background-image: url("../imgs/perfil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    width: 100%;
  }
  .perfil__desfoque {
    background-color: #cee0e7a4;
    height: 20rem;
    width: 100%;
  }
  .perfil__foto {
    height: 15rem;
    border-radius: 50%;
  }
  /* Anuncio */
  .btn-anuncio {
    padding: 1rem;
    color: #F9F8D1;
  }
  .container__anuncio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 4rem 0 4rem;
    width: 100%;
  }
  .div__anuncio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 4rem;
    background-color: rgba(2, 102, 124, 0.479);
    width: 100%;
    padding: 1rem 0;
  }
  .anuncio__descricao {
    padding: 0;
  }
  .list__anuncio {
    display: none;
  }
  .list__anuncio--item {
    margin-bottom: 0.2rem;
  }
  .map {
    width: 100%;
  }
  .map__container {
    width: 100%;
  }
  .map__container > iframe {
    width: 100%;
    height: 700px;
  }
}
/*# sourceMappingURL=main.css.map */